.turmas-adm-container{
    width: 100%;
    height: 100vh;
    background: #eceef2;
    padding: 20px;
    color: #0b2a4a;
    overflow-x: hidden; 
}

.description{
    color: #777;
    font-weight: 400;
}

.turmas-container {
    width: 100%;
    height: 330px;
    position: relative;
    overflow: visible; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 70px;
    gap: 5px;
}

.turmas-card {
    flex: 0 0 520px;
    height: 220px;
    background: white;
    border-radius: 18px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-shadow: 0 6px 20px rgba(0, 30, 58, 0.08);
    transition: 0.2s ease;
}

.turmas-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 30px rgba(0, 30, 58, 0.12);
}

.turma-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.turma-header h2 {
    font-size: 18px;
    color: #0b2a4a;
}

.turma-serie {
    background: #eef3f8;
    color: #0b2a4a;
    padding: 4px 10px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 500;
}

.turma-stats {
    display: flex;
    align-items: center;
}

.stat-box {
    display: flex;
    flex-direction: column;
}

.stat-number {
    font-size: 28px;
    font-weight: bold;
    color: #0b2a4a;
}

.stat-label {
    font-size: 13px;
    color: #777;
}

.turma-actions {
    display: flex;
    justify-content: space-between;
}

.turma-actions button {
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 13px;
    cursor: pointer;
    transition: 0.2s ease;
}

.btn-detalhes {
    background: #7aa9b3;
    color: white;
}

.btn-detalhes:hover {
    background: #123a63;
}

.btn-remover {
    background: #f3f4f6;
    color: #e20000;
}

.btn-remover:hover {
    background: #ffeaea;
}
