.login-container {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto 1fr;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #f5f5f5;
}

.login-img {
    grid-column: 1;
    grid-row: 2;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 70px 0 0;
}

.login-form {
    grid-column: 2;
    grid-row: 2;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 3rem;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 50px 0px 50px 50px;
    width: 408px;
    height: 70%;
    gap: 2rem;
}

.login-form h1 {
    font-size: 1rem;
    margin: 0;
    color: #333;
}

.login-form-title{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 5rem;
}

.text-divider {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 12px;
}

.divider-line {
    flex: 1;
    height: 1px;
    background-color: #CCCCCC;
}

.divider-text {
    color: #666666;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    white-space: nowrap;
    padding: 0 4px;
}