.aluno-box {
display: flex;
justify-content: space-between;
align-items: center;
background: white;
border-radius: 18px;
padding: 22px 26px;  
margin-bottom: 16px;
text-decoration: none;
box-shadow: 0 4px 12px rgba(0, 30, 58, 0.08);
transition: all 0.25s ease;
}

.aluno:hover {
transform: translateY(-3px);
box-shadow: 0 12px 24px rgba(0, 30, 58, 0.12);
}

.aluno-left {
display: flex;
align-items: center;
gap: 12px;
}

.aluno-avatar {
width: 35px;
height: 35px;
}

.aluno-texto {
display: flex;
flex-direction: column;
}

.aluno-nome {
font-weight: 700;
font-size: 14px;
color: #0b2a4a;
}

.aluno-turma {
font-weight: 500;
color: #7b8794;
}

.aluno-matricula {
font-size: 11px;
color: #7b8794;
}

.aluno-arrow {
font-size: 18px;
font-weight: 700;
color: #7b8794;
}
