.perfil-professor {
    width: 100%;
    min-height: 100vh;
    background: #eceef2;
    align-items: center;    
    justify-content: center;
    display: flex;
  }
  
  .perfil-card {
    background: white;
    border-radius: 18px;
    padding: 70px;
    width: 85%;
    max-width: 900px;
    margin-bottom: 50px ;
  }
  
  .perfil-topo {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 25px;
  }
  
  .perfil-avatar {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .perfil-avatar img {
    width: 130px;
  }
  
  .perfil-nome h2 {
    margin: 0;
    color: #0b2a4a;
    font-size: 20px;
    font-weight: 700;
  }
  
  .perfil-info .label {
    margin: 45px 0 4px 0;
    font-weight: 700;
    color: #0b2a4a;
    font-size: 14px;
  }
  
  .perfil-info .valor {
    margin: 0;
    color: #0b2a4a;
    font-size: 13px;
  }
  