.funcionarios-page {
    width: 100%;
    height: 100vh;
    background: #eceef2;
    padding: 20px;
}

.funcionario {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    border-radius: 18px;
    padding: 16px 20px;
    margin-bottom: 14px;
    text-decoration: none;
}

.scroll-funcionarios {
    height: 65%;
    overflow: hidden;
}

.funcionarios-lista {
    height: 100%;
    overflow-y: auto;  
}

.funcionarios-lista::-webkit-scrollbar {
    display: none;
}

.funcionario-left {
display: flex;
align-items: center;
gap: 14px;
}

.funcionario-avatar {
width: 34px;
}

.funcionario-nome {
font-weight: 700;
color: #0b2a4a;
font-size: 13px;
}

.funcionario-disciplina {
font-weight: 700;
}

.funcionario-email {
font-size: 11px;
color: #7b8794;
margin-top: 2px;
}

.funcionario-arrow {
font-size: 22px;
color: #0b2a4a;
font-weight: 700;
}

.funcionario:hover {
background: #f3f5f7;
}

.div-button-cadastro{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.button-cadastro{
    background-color: #7aa9b3;
    font-size: 15px;
}