.desempenho-adm-container{
    font-family: "Poppins", sans-serif;
    color: #001E3A;
    width: 100%;
    min-height: 100vh;
    background: #eceef2;
    padding: 20px;
    overflow-x: hidden; 
}

.media-title{
    font-size: 24px;
}

.media-disciplina {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: visible; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.scroll-container {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 10px 40px 10px 20px;
    scroll-behavior: smooth;
}

.media-turma {
    flex: 0 0 520px;
    height: 25rem;
    border-radius: 20px;
    padding-bottom: 20px;
    text-align: center;
    line-height: 100px;
    background: white;

    box-shadow:
        0 4px 12px rgba(0, 30, 58, 0.08),
        0 8px 20px rgba(0, 30, 58, 0.06);

    transition: all .25s ease;
}

.media-turma:hover{
    transform: translateY(-6px);
    box-shadow:
        0 12px 24px rgba(0, 30, 58, 0.12);
}

.grafico-container{
    height: 260px;
    width: 100%;
    margin: 0 auto;
}

.scroll-container::-webkit-scrollbar {
    overflow-x: auto;
    display: none;
}

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    gap: 20px;
}

.busca {
    display: flex;
    align-items: center;
    gap: 10px;
}

.lupa {
    width: 45px;
    height: 45px;
    background: #7aa9b3;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lupa img {
    width: 16px;
}

.busca input {
    width: 330px;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 12px;
    padding: 0 12px;
}

.filtro {
    width: 24px;
}

.perfil {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: 16px;
    color: #0b2a4a;
    flex-shrink: 0;
}

.bolinha {
    width: 44px;
    height: 44px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bolinha img {
    width: 42px;
}