.desempenho-adm-container{
    background-color: #FEFAEF;
    font-family: "Poppins", sans-serif;
    color: #001E3A;
    width: 100%;
    padding: 3rem;
    position: relative;
    z-index: 1;   
}

.media-title{
    font-size: 24px;
}

.media-disciplina {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: visible; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.scroll-container {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 10px 40px 10px 20px;
    scroll-behavior: smooth;
}

.media-turma {
    flex: 0 0 520px;
    height: 25rem;
    border-radius: 20px;
    padding-bottom: 20px;
    text-align: center;
    line-height: 100px;
    background: #FEFAEF;

    box-shadow:
        0 4px 12px rgba(0, 30, 58, 0.08),
        0 8px 20px rgba(0, 30, 58, 0.06);

    transition: all .25s ease;
}

.media-turma:hover{
    transform: translateY(-6px);
    box-shadow:
        0 12px 24px rgba(0, 30, 58, 0.12);
}

.grafico-container{
    height: 260px;
    width: 100%;
    margin: 0 auto;
}

.scroll-container::-webkit-scrollbar {
    overflow-x: auto;
    display: none;
}
  
.scroll-container::after{
    content: "";
    flex: 0 0 300px; 
}

