.cadastro-container {
    position: relative;
    min-height: 100vh;
    padding: 50px;
    padding-bottom: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
}

.cadastro-container::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0;
    background-image: url("../../assets/loginImg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.25;
}

.cadastro-form {
    position: relative;
    z-index: 1;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin: 0 auto;
    width: 500px;
    min-height: fit-content;
    background-color: #f5f5f5;
    gap: 10px;
    box-sizing: border-box;
}

.cadastro-form h1 {
    font-size: 1rem;
    margin: 0;
    color: #333;
}

.cadastro-form-title{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 5rem;
}
